
.images{
    width:100px;
    height: 100px;
}
.main-container{
    min-width: 400px;
    border-radius: 15px;
}

.box{
    background-color: #fbecdc;
    border-radius: 15px;
    width:300px;
    height: 200px;
    min-width: 300px;
    cursor: pointer;
}

.box:hover{
    box-shadow: 0px 0px 9px 5px #544cee;

}

.box:hover .images{
    width:130px;
    height: 130px;
}
.lang{
    color: #fbecdc;
}

.ul-box{
    width:300px;
    height: 200px;
}